In [4]:
#https://stackoverflow.com/questions/16202548/measuring-the-time-to-load-a-page-python
#https://stackoverflow.com/questions/55508303/how-to-write-a-list-of-list-into-excel-using-python
import urllib
import pandas as pd
from time import time
from datetime import datetime
from urllib.request import urlopen
 
mylist1 = []
mylist2 = []
mylist3 = []

for x in range(10):
  today = datetime.now()
  stream = urlopen("https://www.google.com/")
  start_time = time()
  output = stream.read()
  end_time = time()
  stream.close()
  timed_result = end_time-start_time
  mylist1.append(x)
  mylist2.append(today)
  mylist3.append(timed_result)

df = pd.DataFrame()
df['id'] = mylist1
df['date'] = mylist2
df['timed_results'] = mylist3

In [5]:
df

   id                       date  timed_results
0   0 2020-12-17 02:20:19.835634       0.000259
1   1 2020-12-17 02:20:19.871579       0.000398
2   2 2020-12-17 02:20:19.917184       0.000344
3   3 2020-12-17 02:20:19.956882       0.000299
4   4 2020-12-17 02:20:19.996564       0.000367
5   5 2020-12-17 02:20:20.035971       0.000303
6   6 2020-12-17 02:20:20.095687       0.000286
7   7 2020-12-17 02:20:20.134696       0.000281
8   8 2020-12-17 02:20:20.177738       0.000408
9   9 2020-12-17 02:20:20.222435       0.000314

In [8]:
df["timed_results"].mean()

0.0003258943557739258

In [6]:
writer = pd.ExcelWriter('timed_sites.xlsx')
df.to_excel(writer, sheet_name='welcome', index=False)
writer.save()